@import '@/scss/_variables.scss';

.drop-down{
    display: inline-block;
    position: relative;
    padding: 1em .5em;
}

.btn-drop-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
        margin-left: 1em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6.5px 0 6.5px;
        //border-color: $color-primary-light * 2 transparent transparent transparent;
    }
    .placeholder {
        //color: #6b6b6b;

        &.selected {
            color: white;
        }
    }
}

.drop-down-menu {
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    min-width: 190px;
    .drop-down-item {
        cursor: pointer;
        color: white;
        
        //text-align: center;
        padding: 1em 1.5em;

        transition: .3s ease-in-out all;

        &:hover {
            background: $color-primary-gold;
            color: $color-primary-dark;
        }
    }
}

@media screen and (min-width: 960px) {
    .drop-down {
        padding: 1.5em 2em;
    }
    .drop-down-menu {
        font-size: .9em;
        //bottom: -100px;
        left: initial;
        right: 0;
        bottom: -95px;
        transform: initial;
        text-align: right;
        z-index: 10;
        min-width: 233px;
        .drop-down-item {
            cursor: pointer;
            color: white;
            //min-width: 250px;
            //text-align: center;
            padding: 1em 1.5em;
    
            transition: .3s ease-in-out all;
    
            &:hover {
                background: $color-primary-gold;
                color: white!important;
            }
        }
    }
}