@import '../../scss/variables';

.side-menu {
 width: 100%;  
 height: 100vh;

 display: flex;
 flex-direction: column;
 justify-content: space-between;

 position: absolute;
 top: 0;
 right: 100%;
 z-index: 11;

 transition: .3s ease-in-out all;

 user-select: none;
 border-right: 1px solid #111;
 &.open {
     right: 0;
 }
}

.img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $color-primary-light;

    margin-right: 1em;
}

.user-profile {
    padding: 1em;
}

.user-name {
    font-size: 1.2em;
    font-weight: 900;
}

.user-location {
    font-size: .8em;
}

.user-name, .user-location {
    color: white;
}

.side-nav, .bottom-nav {
    padding: 1em;

    a {
        display: block;
        padding: 1em .5em;
        color: white;

        &.router-link-active {
            font-weight: 900;
            color: $color-primary-gold!important;
          }
    }

    .side-nav-item-link {
        display: flex;
        align-items: center;

        .item-name {
            display: block;;

            &.hide {
                display: none;
            }
        }
        i {
            font-size: 1.2em;
            width: 40px;
        }

    }
}




.bottom-nav {
    justify-content: space-between;
}


@media screen and (min-width: 960px) {
    .side-menu {
        position: unset;
        height: 100%;
        overflow: hidden;
        transition: none;
        
    }

    .user-info {
        &.hide {
            display: none;
        }
    }
    .side-nav {
        display: flex;
        flex-direction: column;
        //align-items: center;
    }
}

